* {
  font-family: sans-serif;
}
#image {
  margin-left: 44%;
  height: 150px;
  width: 200px;
}

#basic {
  width: 260px;
  height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}
#head {
  font-weight: 700;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
span {
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px;
}
label {
  margin-left: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#btn {
  width: 260px;
  height: 30px;
  color: black;
  background-color: orange;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
#condition {
  font-weight: lighter;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#condition a {
  text-decoration: none;
  color: blue;
  margin-top: 5px;
  margin-bottom: 5px;
}
#news {
  font-weight: light;
  font-size: 12px;
}
#btnTwo {
  width: 290px;
  height: 30px;
  color: black;
  font-size: 10px;
  font-weight: lighter;
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
}
#keep {
  font-weight: lighter;
  margin-top: auto;
  margin-bottom: auto;
}
#logoss{
  margin-top: 50px;
  margin-bottom: 0;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
}
.login_page{
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}