/* .main_div{
    display: flex;
    flex-direction: column;
} 

*/
body{
    width: 100%;
}

.actionmovies_main_div {
    /* position: relative; */
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 2% 10% 0% 0%;
    margin-bottom: 20px;

}

.actionmovies_main_div .action_inside_item {
    width: 300px;
}

.action_inside_item:hover .hidden-part {
    visibility: visible;
    /* transition: opacity .2s; */
    height: 300px;

}

.action_inside_item:hover {
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}

.hidden-part {
    display: flex;
    visibility: hidden;
    /* overflow: auto; */
    flex-direction: column;
    height: 0px;
    /* padding: -12px; */
}
.hidden-part *{
    padding: -3%;
}

.action_inside_item>img {
    width: 100%;
    cursor: pointer;
    height: 250px
}

.typeof_movies{
    /* display: flex; */
    /* margin-left : -80%;
    margin-bottom:  -1%; */
    display: flex;
    margin-left: 40px;
}
.typeof_movies span,p{
    font-size: 20px;
    /* color: blue; */
    margin-top: 5px;

}
.typeof_movies *{
    margin-left: 5px;
}

.slider_main{
    display: flex;
    width: 98%;
    margin: auto;
    margin-top: 70px;
}

.slider_main  img {
    width: 96%;
    height: 320px;
    cursor: pointer;
}

.slider_main .button1{
    height: 50px;
    margin-top: 100px;
    /* margin-right: -40px; */
    border: none;
;
    
}
.slider_main .button2{
    height: 50px;
    margin-top: 100px;
    border: none;
}
.actionmovies_main_div button{
    height: 30px;
    margin-top: 100px;
    border: none;
}